body {
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

button {
	padding: 0.8rem;
	border: 0;
	font-weight: bold;
	width: 100%;
	font-size: 20px;
	border-radius: 5px;
	margin: 1rem 0;
}